@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');
:root {
    --main-green: #1C5B36;
    --secondary-green: #4E7F63;
    --text-color: #666666;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
}

html {
    font-size: 65.5%;
}

body {
    font-size: 1.6rem;
    width: 90%;
    margin: auto;
    color: var(--text-color);
}

html,
body {
    font-family: "Inter";
}

section .apresentation {
    display: flex;
    align-items: center;
    height: 100vh;
}

section .apresentation .left h1 {
    color: var(--main-green);
    font-size: 4.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

section .apresentation .left h1 span{
    color: var(--secondary-green);
}

section .apresentation .left div {
    margin-top: 50px;
}

section .apresentation .left div a {
    background-color: var(--main-green);
    padding: 20px;
    color: #fff;
    border-radius: 5px;
}

section .apresentation .right img {
    width: 600px;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 425px) {
    section .apresentation {
        flex-direction: column-reverse;
    }
    section .apresentation .left {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    section .apresentation .right img {
        margin-top: 50px;
        width: 400px;
    }
}
